USE [master]
GO
/****** Object:  Database [bekal]    Script Date: 22/09/2026 10:37:34 ******/
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'bekal')
BEGIN
    CREATE DATABASE [bekal]
    CONTAINMENT = NONE
    WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF;
END
GO

ALTER DATABASE [bekal] COLLATE SQL_Latin1_General_CP1_CI_AS;
GO

USE [bekal];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bekal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bekal]
GO
/****** Object:  Table [dbo].[MST_CUSTOMERS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CUSTOMERS](
	[id] [uniqueidentifier] NOT NULL,
	[full_name] [varchar](150) NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[nik] [varchar](20) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[last_login_at] [datetime2](3) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
	[credit_tier] [varchar](10) NOT NULL,
	[successful_loans_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_active_customers]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =====================================================================
   3. VIEW UNTUK SOFT-DELETE FILTERING
   ===================================================================== */

CREATE VIEW [dbo].[vw_active_customers]
AS
SELECT
    id, full_name, email, password_hash, phone_number, nik,
    date_of_birth, gender, address, status,
    last_login_at, created_at, updated_at
FROM MST_CUSTOMERS
WHERE deleted_at IS NULL;
GO
/****** Object:  Table [dbo].[MST_INTERNAL_USERS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_INTERNAL_USERS](
	[id] [uniqueidentifier] NOT NULL,
	[branch_id] [uniqueidentifier] NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[employee_code] [varchar](30) NULL,
	[full_name] [varchar](150) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[last_login_at] [datetime2](3) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_at] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_active_internal_users]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_active_internal_users]
AS
SELECT
    id, branch_id, role_id, employee_code, full_name, email,
    password_hash, phone_number, is_active, last_login_at,
    created_at, updated_at
FROM MST_INTERNAL_USERS
WHERE deleted_at IS NULL;
GO
/****** Object:  Table [dbo].[MST_BRANCHES]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BRANCHES](
	[id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[address] [nvarchar](max) NULL,
	[city] [varchar](100) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_ROLES]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_ROLES](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_active_internal_users_detail]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_active_internal_users_detail]
AS
SELECT
    u.id, u.employee_code, u.full_name, u.email, u.phone_number,
    u.is_active, u.last_login_at,
    r.name AS role_name,
    b.name AS branch_name,
    u.created_at, u.updated_at
FROM MST_INTERNAL_USERS u
INNER JOIN MST_ROLES r ON r.id = u.role_id
LEFT JOIN MST_BRANCHES b ON b.id = u.branch_id
WHERE u.deleted_at IS NULL;
GO
/****** Object:  Table [dbo].[TRX_LOAN_APPLICATIONS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_LOAN_APPLICATIONS](
	[id] [uniqueidentifier] NOT NULL,
	[application_number] [varchar](30) NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[plafond_id] [uniqueidentifier] NOT NULL,
	[amount_requested] [decimal](15, 2) NOT NULL,
	[tenor_months] [int] NOT NULL,
	[purpose] [varchar](150) NULL,
	[interest_rate] [decimal](5, 2) NOT NULL,
	[monthly_installment] [decimal](15, 2) NOT NULL,
	[total_repayment] [decimal](15, 2) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[assigned_marketing_id] [uniqueidentifier] NULL,
	[assigned_branch_manager_id] [uniqueidentifier] NULL,
	[submitted_at] [datetime2](3) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[branch_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_LOAN_REVIEWS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_LOAN_REVIEWS](
	[id] [uniqueidentifier] NOT NULL,
	[loan_application_id] [uniqueidentifier] NOT NULL,
	[reviewed_by] [uniqueidentifier] NOT NULL,
	[result] [varchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[reviewed_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_LOAN_APPROVALS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_LOAN_APPROVALS](
	[id] [uniqueidentifier] NOT NULL,
	[loan_application_id] [uniqueidentifier] NOT NULL,
	[approved_by] [uniqueidentifier] NOT NULL,
	[result] [varchar](20) NOT NULL,
	[approved_amount] [decimal](15, 2) NULL,
	[notes] [nvarchar](max) NULL,
	[approved_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_LOAN_DISBURSEMENTS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_LOAN_DISBURSEMENTS](
	[id] [uniqueidentifier] NOT NULL,
	[loan_application_id] [uniqueidentifier] NOT NULL,
	[disbursed_by] [uniqueidentifier] NOT NULL,
	[disbursement_amount] [decimal](15, 2) NOT NULL,
	[reference_number] [varchar](50) NULL,
	[status] [varchar](20) NOT NULL,
	[disbursed_at] [datetime2](3) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[customer_bank_account_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_trx_loan_history_summary]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_trx_loan_history_summary] AS
SELECT
    la.id,
    la.application_number,
    la.customer_id,
    la.status,
    la.amount_requested,
    la.tenor_months,
    la.submitted_at,
    rv.result       AS review_result,
    rv.reviewed_by,
    rv.reviewed_at,
    ap.result       AS approval_result,
    ap.approved_amount,
    ap.approved_by,
    ap.approved_at,
    ds.status        AS disbursement_status,
    ds.disbursement_amount,
    ds.disbursed_at
FROM trx_loan_applications la
OUTER APPLY (
    SELECT TOP 1 result, reviewed_by, reviewed_at
    FROM trx_loan_reviews
    WHERE loan_application_id = la.id
    ORDER BY reviewed_at DESC
) rv
OUTER APPLY (
    SELECT TOP 1 result, approved_amount, approved_by, approved_at
    FROM trx_loan_approvals
    WHERE loan_application_id = la.id
    ORDER BY approved_at DESC
) ap
OUTER APPLY (
    SELECT TOP 1 status, disbursement_amount, disbursed_at
    FROM trx_loan_disbursements
    WHERE loan_application_id = la.id
) ds;
GO
/****** Object:  Table [dbo].[mst_customer_bank_accounts]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_customer_bank_accounts](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[bank_name] [nvarchar](100) NOT NULL,
	[bank_account_number] [varchar](30) NOT NULL,
	[bank_account_holder] [nvarchar](100) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NULL,
 CONSTRAINT [PK_mst_customer_bank_accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_customer_documents]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_customer_documents](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[document_type] [nvarchar](30) NOT NULL,
	[file_url] [nvarchar](500) NOT NULL,
	[is_latest] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_customer_employments]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_customer_employments](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[employment_type] [nvarchar](30) NOT NULL,
	[company_name] [nvarchar](150) NULL,
	[job_title] [nvarchar](100) NULL,
	[industry] [nvarchar](100) NULL,
	[declared_income] [numeric](15, 2) NOT NULL,
	[verified_income] [numeric](15, 2) NULL,
	[other_income] [numeric](15, 2) NULL,
	[income_verified_by] [uniqueidentifier] NULL,
	[income_verified_at] [datetimeoffset](7) NULL,
	[employment_start_date] [datetime2](7) NULL,
	[is_current] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_MENUS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_MENUS](
	[id] [uniqueidentifier] NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[name] [varchar](100) NOT NULL,
	[path] [varchar](150) NULL,
	[icon] [varchar](50) NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[id] [uniqueidentifier] NOT NULL,
	[user_type] [varchar](255) NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [varchar](255) NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetimeoffset](7) NULL,
	[used_at] [datetimeoffset](7) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [uniqueidentifier] NOT NULL,
	[user_type] [varchar](255) NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[is_revoked] [bit] NOT NULL,
	[expires_at] [datetimeoffset](7) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REL_ROLE_MENU_ACCESS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REL_ROLE_MENU_ACCESS](
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[menu_id] [uniqueidentifier] NOT NULL,
	[can_view] [bit] NOT NULL,
	[can_create] [bit] NOT NULL,
	[can_edit] [bit] NOT NULL,
	[can_delete] [bit] NOT NULL,
	[can_approve] [bit] NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_DEVICE_TOKENS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_DEVICE_TOKENS](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[fcm_token] [nvarchar](255) NOT NULL,
	[device_info] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_PAYMENTS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_PAYMENTS](
	[id] [uniqueidentifier] NOT NULL,
	[loan_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[transaction_reference] [varchar](100) NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TRX_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRX_PLAFONDS]    Script Date: 22/09/2026 10:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRX_PLAFONDS](
	[id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[plafond_amount] [decimal](15, 2) NOT NULL,
	[used_amount] [decimal](15, 2) NOT NULL,
	[interest_rate] [decimal](5, 2) NOT NULL,
	[max_tenor_months] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[valid_from] [date] NULL,
	[valid_until] [date] NULL,
	[created_by] [uniqueidentifier] NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MST_BRANCHES] ([id], [code], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (N'7fa53df2-32a1-4d9b-88c9-096083e18940', N'JKT-001', N'Cabang Jakarta Pusat', N'Jl. M.H. Thamrin No. 28', N'Jakarta Pusat', N'ACTIVE', CAST(N'2026-08-12T08:02:13.8910000' AS DateTime2), CAST(N'2026-09-22T02:27:24.2750000' AS DateTime2))
INSERT [dbo].[MST_BRANCHES] ([id], [code], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (N'ce581894-64f0-4c48-b0da-3957780c52dc', N'JKT-002', N'Cabang Jakarta Selatan', N'Jl. Jendral Sudirman No. 52', N'Jakarta Selatan', N'ACTIVE', CAST(N'2026-08-12T08:05:10.7750000' AS DateTime2), CAST(N'2026-09-22T02:27:24.2750000' AS DateTime2))
INSERT [dbo].[MST_BRANCHES] ([id], [code], [name], [address], [city], [status], [created_at], [updated_at]) VALUES (N'3501de0a-528c-4ace-9f80-3aee11678323', N'BDG-001', N'Cabang Kota Bandung', N'Jl. Asia Afrika No. 90', N'Kota Bandung', N'ACTIVE', CAST(N'2026-08-12T08:11:11.3110000' AS DateTime2), CAST(N'2026-09-22T02:27:24.2750000' AS DateTime2))
GO
INSERT [dbo].[mst_customer_bank_accounts] ([id], [customer_id], [bank_name], [bank_account_number], [bank_account_holder], [is_primary], [status], [created_at], [updated_at]) VALUES (N'4cb351b1-b81d-4cb1-8de0-15400eb1d792', N'd622eb8d-817f-497f-829b-f46f5e722d0a', N'BCA', N'2603936161', N'Edwin Kudo', 1, N'active', CAST(N'2026-09-15T06:51:50.3960000' AS DateTime2), NULL)
INSERT [dbo].[mst_customer_bank_accounts] ([id], [customer_id], [bank_name], [bank_account_number], [bank_account_holder], [is_primary], [status], [created_at], [updated_at]) VALUES (N'73a7090d-a860-4cac-957a-263433b58613', N'f1355082-112c-4238-8bfc-9a1db1653fd9', N'bca', N'1', N'j', 1, N'active', CAST(N'2026-09-16T16:33:45.5000000' AS DateTime2), NULL)
INSERT [dbo].[mst_customer_bank_accounts] ([id], [customer_id], [bank_name], [bank_account_number], [bank_account_holder], [is_primary], [status], [created_at], [updated_at]) VALUES (N'82d0baa6-1313-46b0-a513-3ad42314de88', N'f1205605-9c44-446e-b1aa-3bd87f311ec9', N'BCA', N'31216161918', N'pak pol', 1, N'active', CAST(N'2026-09-17T04:15:38.2300000' AS DateTime2), NULL)
GO
INSERT [dbo].[mst_customer_documents] ([id], [customer_id], [document_type], [file_url], [is_latest], [created_at], [updated_at]) VALUES (N'8207eda0-f030-4bff-bddd-0a3fa91f02e4', N'f1205605-9c44-446e-b1aa-3bd87f311ec9', N'SLIP_GAJI', N'/uploads/8a7755ea-4f09-4193-a6b4-1badbb7f5d51_payslip_1789618531875.jpeg', 1, CAST(N'2026-09-17T04:15:38.1390000' AS DateTime2), CAST(N'2026-09-17T04:15:38.1390000' AS DateTime2))
INSERT [dbo].[mst_customer_documents] ([id], [customer_id], [document_type], [file_url], [is_latest], [created_at], [updated_at]) VALUES (N'871b2e66-7534-4f58-b3a2-11c3a3056e2e', N'18f517c5-7f7f-4b99-94e9-e65604dd4a54', N'SLIP_GAJI', N'/uploads/d866cdc0-07cb-4b18-bb92-5476b7490bad_payslip_1789543416312.jpeg', 1, CAST(N'2026-09-16T07:24:32.5510000' AS DateTime2), CAST(N'2026-09-16T07:24:32.5510000' AS DateTime2))
INSERT [dbo].[mst_customer_documents] ([id], [customer_id], [document_type], [file_url], [is_latest], [created_at], [updated_at]) VALUES (N'a06a9932-3615-4757-a313-2080e2fa305f', N'd493842e-a101-4e3c-be21-2cad6d6aba68', N'KTP', N'https://storage.bekal.org/documents/ktp-doni.jpg', 1, CAST(N'2026-09-13T09:48:56.0660000' AS DateTime2), CAST(N'2026-09-13T09:48:56.0660000' AS DateTime2))
GO
INSERT [dbo].[mst_customer_employments] ([id], [customer_id], [employment_type], [company_name], [job_title], [industry], [declared_income], [verified_income], [other_income], [income_verified_by], [income_verified_at], [employment_start_date], [is_current], [created_at], [updated_at]) VALUES (N'2802b9c1-1e06-45dc-a4c3-0c870776df9c', N'da7b51e0-b9c9-464f-b13d-469bbe2e21cc', N'karyawan_tetap', N'a', N'a', N'a', CAST(1000000.00 AS Numeric(15, 2)), NULL, NULL, NULL, NULL, NULL, 1, CAST(N'2026-09-13T10:13:43.0200000' AS DateTime2), CAST(N'2026-09-13T10:13:43.0200000' AS DateTime2))
GO
INSERT [dbo].[MST_INTERNAL_USERS] ([id], [branch_id], [role_id], [employee_code], [full_name], [email], [password_hash], [phone_number], [is_active], [last_login_at], [created_at], [updated_at], [deleted_at]) VALUES (N'b73c3a9a-2a8c-43ca-ac16-416235ae1df1', N'ce581894-64f0-4c48-b0da-3957780c52dc', N'a13fc274-23bb-489a-b85d-0157f8324a29', N'EMP-2026-004', N'Rina', N'marketing@bekal.com', N'$2a$10$NKMH16XQpP2PApswW1E/KeFa272CiP3vWbqiuCYfcMNah2ybhWIfO', N'0895365986532', 1, NULL, CAST(N'2026-08-22T15:14:09.9690000' AS DateTime2), CAST(N'2026-09-22T02:16:40.3260000' AS DateTime2), NULL)
INSERT [dbo].[MST_INTERNAL_USERS] ([id], [branch_id], [role_id], [employee_code], [full_name], [email], [password_hash], [phone_number], [is_active], [last_login_at], [created_at], [updated_at], [deleted_at]) VALUES (N'12833aad-7d4f-4472-b25e-93797559f4d7', N'9585c9e9-bbc7-4afe-a5d7-a604a8f137c9', N'9126e12e-3a19-4bfc-8d1d-768449dfe503', N'EMP-2026-003', N'Windah Basudara', N'superadmin@bekal.com', N'$2a$10$jn62KmcedK1NGKp57l2Th.Bhe6XuaQLyDK8Tufebha7npxkHsU5I.', N'081234567890', 1, NULL, CAST(N'2026-08-13T03:48:41.3400000' AS DateTime2), CAST(N'2026-09-22T02:17:56.5690000' AS DateTime2), NULL)
GO
INSERT [dbo].[MST_MENUS] ([id], [parent_id], [name], [path], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'b0afc089-ed3f-417f-82b0-0f9fcc376040', NULL, N'Loan Approval History', N'branch-manager/history', N'check-circle', 2, 1, CAST(N'2026-08-26T15:09:12.7930000' AS DateTime2), CAST(N'2026-08-26T15:22:59.2330000' AS DateTime2))
INSERT [dbo].[MST_MENUS] ([id], [parent_id], [name], [path], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'93a64495-73be-44c3-8de6-4673ddff6a8f', NULL, N'Loan Approvals', N'/branch-manager/loan-approvals', N'clipboard-user', 2, 1, CAST(N'2026-08-26T02:14:52.2560000' AS DateTime2), CAST(N'2026-08-26T02:16:02.1680000' AS DateTime2))
INSERT [dbo].[MST_MENUS] ([id], [parent_id], [name], [path], [icon], [sort_order], [is_active], [created_at], [updated_at]) VALUES (N'9218acc1-d7a9-43cc-8bf5-5649e2af7c8b', NULL, N'Menu Management', N'/admin/menus', N'layers', 3, 1, CAST(N'2026-08-24T09:12:41.2030000' AS DateTime2), CAST(N'2026-08-24T09:12:41.2030000' AS DateTime2))
GO
INSERT [dbo].[MST_ROLES] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'a13fc274-23bb-489a-b85d-0157f8324a29', N'MARKETING', N'Melakukan review pengajuan pinjaman', 1, CAST(N'2026-08-09T11:28:49.4630000' AS DateTime2), CAST(N'2026-08-13T16:44:14.9620000' AS DateTime2))
INSERT [dbo].[MST_ROLES] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'7846bde4-4cb6-4797-a3ef-2df095c4c9f2', N'BACK_OFFICE', N'Melakukan pencairan pinjaman', 1, CAST(N'2026-08-09T11:28:49.4630000' AS DateTime2), CAST(N'2026-08-13T16:44:14.9630000' AS DateTime2))
INSERT [dbo].[MST_ROLES] ([id], [name], [description], [is_active], [created_at], [updated_at]) VALUES (N'dcc5633b-1687-43de-98ed-651d7455c31b', N'BRANCH_MANAGER', N'Melakukan approval pinjaman', 1, CAST(N'2026-08-09T11:28:49.4630000' AS DateTime2), CAST(N'2026-08-13T16:44:14.9630000' AS DateTime2))
GO
INSERT [dbo].[password_resets] ([id], [user_type], [user_id], [email], [token], [expires_at], [used_at], [created_at]) VALUES (N'4112a9ce-28f5-41ab-8a5e-52312218fefe', N'CUSTOMER', N'd622eb8d-817f-497f-829b-f46f5e722d0a', N'edwinlionaj@gmail.com', N'615745', CAST(N'2026-09-17T04:16:46.7353583+00:00' AS DateTimeOffset), CAST(N'2026-09-17T04:07:45.9091658+00:00' AS DateTimeOffset), CAST(N'2026-09-17T04:06:46.7350000' AS DateTime2))
INSERT [dbo].[password_resets] ([id], [user_type], [user_id], [email], [token], [expires_at], [used_at], [created_at]) VALUES (N'7de2609c-542a-41e3-a59b-71660e4c18b8', N'CUSTOMER', N'd622eb8d-817f-497f-829b-f46f5e722d0a', N'edwinlionaj@gmail.com', N'635355', CAST(N'2026-09-21T18:07:28.5958197+00:00' AS DateTimeOffset), CAST(N'2026-09-21T17:58:07.2685020+00:00' AS DateTimeOffset), CAST(N'2026-09-21T17:57:28.5960000' AS DateTime2))
INSERT [dbo].[password_resets] ([id], [user_type], [user_id], [email], [token], [expires_at], [used_at], [created_at]) VALUES (N'0d57b5c7-5d9b-40bd-b5f5-9c1fd60b2d31', N'CUSTOMER', N'd622eb8d-817f-497f-829b-f46f5e722d0a', N'edwinlionaj@gmail.com', N'155296', CAST(N'2026-09-17T04:30:43.6014062+00:00' AS DateTimeOffset), CAST(N'2026-09-17T04:21:19.7857747+00:00' AS DateTimeOffset), CAST(N'2026-09-17T04:20:43.6010000' AS DateTime2))
GO
INSERT [dbo].[refresh_tokens] ([id], [user_type], [user_id], [token], [is_revoked], [expires_at], [created_at]) VALUES (N'3a1d5814-8b11-4c74-8502-0cb70f36abe9', N'CUSTOMER', N'd622eb8d-817f-497f-829b-f46f5e722d0a', N'18abb827-7f86-4b58-b991-0ef1b115bef1', 0, CAST(N'2026-10-21T17:31:11.0642443+00:00' AS DateTimeOffset), CAST(N'2026-09-18T16:33:00.9200000' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_type], [user_id], [token], [is_revoked], [expires_at], [created_at]) VALUES (N'e9c5b38b-eb68-422f-b4db-b2151bb12922', N'CUSTOMER', N'844c5f7c-fe8c-4a89-bb6b-3a2caeaecd46', N'adad2e56-163a-484d-873b-93408ac461b4', 0, CAST(N'2026-10-20T09:36:16.7629210+00:00' AS DateTimeOffset), CAST(N'2026-09-19T08:50:14.0070000' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([id], [user_type], [user_id], [token], [is_revoked], [expires_at], [created_at]) VALUES (N'cd4cab1d-4afd-4e21-a11d-dcafff315499', N'CUSTOMER', N'd493842e-a101-4e3c-be21-2cad6d6aba68', N'736afec3-ed7d-47a1-a354-fdea2e2753b3', 0, CAST(N'2026-10-21T17:31:56.5774341+00:00' AS DateTimeOffset), CAST(N'2026-09-18T16:27:15.0360000' AS DateTime2))
GO
INSERT [dbo].[REL_ROLE_MENU_ACCESS] ([id], [role_id], [menu_id], [can_view], [can_create], [can_edit], [can_delete], [can_approve], [created_at], [updated_at]) VALUES (N'6b105c7c-3d1a-4355-b6bc-10cc206f3478', N'7846bde4-4cb6-4797-a3ef-2df095c4c9f2', N'ad1f6870-ff34-4d65-aa73-a8aabd899463', 0, 0, 0, 0, 0, CAST(N'2026-09-03T15:22:38.9180000' AS DateTime2), CAST(N'2026-09-03T15:22:38.9180000' AS DateTime2))
INSERT [dbo].[REL_ROLE_MENU_ACCESS] ([id], [role_id], [menu_id], [can_view], [can_create], [can_edit], [can_delete], [can_approve], [created_at], [updated_at]) VALUES (N'c354334e-5340-45ab-980e-1203d10923c4', N'7846bde4-4cb6-4797-a3ef-2df095c4c9f2', N'9218acc1-d7a9-43cc-8bf5-5649e2af7c8b', 0, 0, 0, 0, 0, CAST(N'2026-09-03T15:22:38.9110000' AS DateTime2), CAST(N'2026-09-03T15:22:38.9110000' AS DateTime2))
INSERT [dbo].[REL_ROLE_MENU_ACCESS] ([id], [role_id], [menu_id], [can_view], [can_create], [can_edit], [can_delete], [can_approve], [created_at], [updated_at]) VALUES (N'a5205643-d9cd-4ebc-a52b-157fb4ae81be', N'7846bde4-4cb6-4797-a3ef-2df095c4c9f2', N'3a44da7d-e969-4059-bb16-e68f4f5f7755', 0, 0, 0, 0, 0, CAST(N'2026-09-03T15:22:38.9160000' AS DateTime2), CAST(N'2026-09-03T15:22:38.9160000' AS DateTime2))
GO
INSERT [dbo].[TRX_DEVICE_TOKENS] ([id], [customer_id], [fcm_token], [device_info], [created_at], [updated_at]) VALUES (N'106c7d79-9352-4ff7-9607-085bec29acc5', N'5c154e7b-1b99-4b1a-8054-5ddbbd87d34f', N'djVt2BsoQTSYX34UwcbnUt:APA91bG0NGzW4K92hB_Svt_vBLC2c0Wg1tiSW1pFxsqXOitnbnp8N6ok-cJjjupEDlBv_1uj8WDOH6u7BQNOH0YiP0x8ddt7QKHJN8PB3SPfr-zlw-adtuI', N'Xiaomi 2310FPCA4G (Android 15)', CAST(N'2026-09-16T17:05:04.7308270' AS DateTime2), CAST(N'2026-09-16T17:05:04.7308270' AS DateTime2))
INSERT [dbo].[TRX_DEVICE_TOKENS] ([id], [customer_id], [fcm_token], [device_info], [created_at], [updated_at]) VALUES (N'80828da5-71ba-4011-939b-09041087cacd', N'a08957a0-59a8-4ba3-8027-4cdaff6760d5', N'fN2fJT06SCCE31lsnQHaQ7:APA91bFrpJLWF9yIhrI9FJV5XiidMMH9VlPr92yPLa2uaoQIWN8_lbnnehJuaJ3kPzSUKSuB_egmpRYdQ6OXaWHOqnN-0S43XhKeyGEIgwzuYy9jDoz5VY0', N'Xiaomi 2310FPCA4G (Android 15)', CAST(N'2026-09-17T13:06:52.7145272' AS DateTime2), CAST(N'2026-09-17T13:06:52.7145272' AS DateTime2))
INSERT [dbo].[TRX_DEVICE_TOKENS] ([id], [customer_id], [fcm_token], [device_info], [created_at], [updated_at]) VALUES (N'7f78e4e3-37ed-455a-a495-16f07bebab78', N'164dd35a-dfb7-4200-a08e-792f757f7407', N'cuMGjAOBSS-o-BtBV3m-HO:APA91bG7iie0oARJnf6SJD1cCW7NnoIRMi8X-jW00ACDzN4nzHoDOjmGAE0ET9qTGJgNKqYXZkTN1NYOlpEnDbFvFoH5hr9_in7a3xCsCSlLLjvUFmBfYws', N'Xiaomi 2310FPCA4G (Android 15)', CAST(N'2026-09-18T17:57:23.2888228' AS DateTime2), CAST(N'2026-09-18T17:57:23.2888228' AS DateTime2))
GO
INSERT [dbo].[TRX_LOAN_APPROVALS] ([id], [loan_application_id], [approved_by], [result], [approved_amount], [notes], [approved_at]) VALUES (N'cfb27e9a-5bd4-43ff-9faa-0148f2bf7965', N'0d571ceb-48cd-418e-a2ba-786985831981', N'55ffeed6-07c4-4fc2-8a29-1a1e9bf73aa8', N'APPROVED', NULL, N'kerennnnnn', CAST(N'2026-09-16T03:52:44.1000000' AS DateTime2))
INSERT [dbo].[TRX_LOAN_APPROVALS] ([id], [loan_application_id], [approved_by], [result], [approved_amount], [notes], [approved_at]) VALUES (N'c6df87f4-1220-4ae0-8acc-350e497ec60a', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'55ffeed6-07c4-4fc2-8a29-1a1e9bf73aa8', N'APPROVED', NULL, N'Keren Sekali', CAST(N'2026-09-15T06:54:30.8480000' AS DateTime2))
INSERT [dbo].[TRX_LOAN_APPROVALS] ([id], [loan_application_id], [approved_by], [result], [approved_amount], [notes], [approved_at]) VALUES (N'ca03a0ab-fa6c-4f9c-a24a-9ba955644167', N'2869d70b-7020-4ca3-accc-d4f6b7482777', N'55ffeed6-07c4-4fc2-8a29-1a1e9bf73aa8', N'APPROVED', NULL, N'P@ssw0rd123!', CAST(N'2026-09-20T06:32:26.7250000' AS DateTime2))
GO
INSERT [dbo].[TRX_LOAN_DISBURSEMENTS] ([id], [loan_application_id], [disbursed_by], [disbursement_amount], [reference_number], [status], [disbursed_at], [created_at], [customer_bank_account_id]) VALUES (N'51403f3b-0ed4-42ec-8c0f-06f29ced7c5c', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'fd5248a4-286a-48ca-b47a-bdff8770fb3b', CAST(20000000.00 AS Decimal(15, 2)), NULL, N'SUCCESS', CAST(N'2026-09-15T06:54:53.8480000' AS DateTime2), CAST(N'2026-09-15T06:54:53.8650000' AS DateTime2), N'4cb351b1-b81d-4cb1-8de0-15400eb1d792')
INSERT [dbo].[TRX_LOAN_DISBURSEMENTS] ([id], [loan_application_id], [disbursed_by], [disbursement_amount], [reference_number], [status], [disbursed_at], [created_at], [customer_bank_account_id]) VALUES (N'e63b5cfa-e66d-49e2-a976-ff1deb2d7c52', N'2869d70b-7020-4ca3-accc-d4f6b7482777', N'fd5248a4-286a-48ca-b47a-bdff8770fb3b', CAST(20000000.00 AS Decimal(15, 2)), NULL, N'SUCCESS', CAST(N'2026-09-20T06:32:59.8600000' AS DateTime2), CAST(N'2026-09-20T06:33:00.6580000' AS DateTime2), N'4cb351b1-b81d-4cb1-8de0-15400eb1d792')
GO
INSERT [dbo].[TRX_LOAN_REVIEWS] ([id], [loan_application_id], [reviewed_by], [result], [notes], [reviewed_at]) VALUES (N'fbc23a65-e890-4626-920e-09afe7b3c645', N'0d571ceb-48cd-418e-a2ba-786985831981', N'b73c3a9a-2a8c-43ca-ac16-416235ae1df1', N'APPROVED', N'keren banget', CAST(N'2026-09-16T03:51:46.5850000' AS DateTime2))
INSERT [dbo].[TRX_LOAN_REVIEWS] ([id], [loan_application_id], [reviewed_by], [result], [notes], [reviewed_at]) VALUES (N'3199bc52-54db-46df-bee0-6fbb001f1876', N'2869d70b-7020-4ca3-accc-d4f6b7482777', N'b73c3a9a-2a8c-43ca-ac16-416235ae1df1', N'APPROVED', N'P@ssw0rd123!', CAST(N'2026-09-20T06:30:16.1030000' AS DateTime2))
INSERT [dbo].[TRX_LOAN_REVIEWS] ([id], [loan_application_id], [reviewed_by], [result], [notes], [reviewed_at]) VALUES (N'340f0c1b-f266-4c67-aa36-7e6fddf9fa33', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'b73c3a9a-2a8c-43ca-ac16-416235ae1df1', N'APPROVED', N'Keren Banget', CAST(N'2026-09-15T06:53:58.0910000' AS DateTime2))
GO
INSERT [dbo].[TRX_PAYMENTS] ([id], [loan_id], [customer_id], [amount_paid], [payment_method], [transaction_reference], [payment_date], [status]) VALUES (N'7cecc19c-5b44-4abc-b62a-18160cf86a18', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'd622eb8d-817f-497f-829b-f46f5e722d0a', CAST(1691666.67 AS Decimal(18, 2)), N'VA_BANK_TRANSFER', N'TRX-73BAF7C5', CAST(N'2026-09-16T10:17:55.5690352' AS DateTime2), N'SUCCESS')
INSERT [dbo].[TRX_PAYMENTS] ([id], [loan_id], [customer_id], [amount_paid], [payment_method], [transaction_reference], [payment_date], [status]) VALUES (N'3adc2084-8492-47e8-917b-1920840534d6', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'd622eb8d-817f-497f-829b-f46f5e722d0a', CAST(1691666.67 AS Decimal(18, 2)), N'VA_BANK_TRANSFER', N'TRX-3EDDCE77', CAST(N'2026-09-16T10:18:09.0648550' AS DateTime2), N'SUCCESS')
INSERT [dbo].[TRX_PAYMENTS] ([id], [loan_id], [customer_id], [amount_paid], [payment_method], [transaction_reference], [payment_date], [status]) VALUES (N'5fb00d0c-47c7-469c-99b7-4192d5433a03', N'4e0a1358-49f5-4d7c-a233-cef050d89aaf', N'd622eb8d-817f-497f-829b-f46f5e722d0a', CAST(1691666.67 AS Decimal(18, 2)), N'VA_BANK_TRANSFER', N'TRX-AA8A80B9', CAST(N'2026-09-16T10:26:31.2460151' AS DateTime2), N'SUCCESS')
GO
INSERT [dbo].[TRX_PLAFONDS] ([id], [customer_id], [plafond_amount], [used_amount], [interest_rate], [max_tenor_months], [status], [valid_from], [valid_until], [created_by], [created_at], [updated_at]) VALUES (N'8986f04e-1b34-43b0-9ae6-02710bb723a1', N'd493842e-a101-4e3c-be21-2cad6d6aba68', CAST(20000000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(0.10 AS Decimal(5, 2)), 12, N'ACTIVE', NULL, NULL, NULL, CAST(N'2026-09-15T15:01:30.0180000' AS DateTime2), CAST(N'2026-09-22T02:52:59.7840000' AS DateTime2))
INSERT [dbo].[TRX_PLAFONDS] ([id], [customer_id], [plafond_amount], [used_amount], [interest_rate], [max_tenor_months], [status], [valid_from], [valid_until], [created_by], [created_at], [updated_at]) VALUES (N'032ec287-b974-4a1e-92cc-17578eb2b9ac', N'844c5f7c-fe8c-4a89-bb6b-3a2caeaecd46', CAST(20000000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(0.10 AS Decimal(5, 2)), 24, N'ACTIVE', NULL, NULL, NULL, CAST(N'2026-09-19T08:50:15.0660000' AS DateTime2), CAST(N'2026-09-19T08:50:15.0660000' AS DateTime2))
INSERT [dbo].[TRX_PLAFONDS] ([id], [customer_id], [plafond_amount], [used_amount], [interest_rate], [max_tenor_months], [status], [valid_from], [valid_until], [created_by], [created_at], [updated_at]) VALUES (N'a0d76039-cb6d-4849-a265-69f47e107faf', N'd622eb8d-817f-497f-829b-f46f5e722d0a', CAST(35000000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(0.10 AS Decimal(5, 2)), 12, N'ACTIVE', NULL, NULL, NULL, CAST(N'2026-09-15T06:52:52.4300000' AS DateTime2), CAST(N'2026-09-22T02:52:59.7840000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_BRAN__357D4CF989BA4567]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_BRANCHES] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bank_accounts_customer_id]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [IX_bank_accounts_customer_id] ON [dbo].[mst_customer_bank_accounts]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_customer_bank_account]    Script Date: 22/09/2026 10:37:35 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_customer_bank_account] ON [dbo].[mst_customer_bank_accounts]
(
	[customer_id] ASC,
	[bank_name] ASC,
	[bank_account_number] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_mst_cd_customer]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [ix_mst_cd_customer] ON [dbo].[mst_customer_documents]
(
	[customer_id] ASC,
	[document_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_mst_cd_latest]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [ix_mst_cd_latest] ON [dbo].[mst_customer_documents]
(
	[customer_id] ASC,
	[document_type] ASC,
	[is_latest] ASC
)
WHERE ([is_latest]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_mst_ce_current]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [ix_mst_ce_current] ON [dbo].[mst_customer_employments]
(
	[customer_id] ASC,
	[is_current] ASC
)
WHERE ([is_current]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_mst_ce_customer]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [ix_mst_ce_customer] ON [dbo].[mst_customer_employments]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_CUST__AB6E6164F1CA4D56]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_CUST__DF97D0EDC19E3F39]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD UNIQUE NONCLUSTERED 
(
	[nik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_email]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_customers_email] ON [dbo].[MST_CUSTOMERS]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_status]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_customers_status] ON [dbo].[MST_CUSTOMERS]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_INTE__AB6E6164C5CF2C90]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_INTE__B0AA7345208970D3]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD UNIQUE NONCLUSTERED 
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_internal_users_branch]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_internal_users_branch] ON [dbo].[MST_INTERNAL_USERS]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_internal_users_role]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_internal_users_role] ON [dbo].[MST_INTERNAL_USERS]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MST_ROLE__72E12F1BA030082D]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[MST_ROLES] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_password_resets_token]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_password_resets_token] ON [dbo].[password_resets]
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__refresh___CA90DA7A22F90572]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[refresh_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_role_menu]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  CONSTRAINT [uq_role_menu] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK88jq5p1vwss1w6b38l3tixu72]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] ADD  CONSTRAINT [UK88jq5p1vwss1w6b38l3tixu72] UNIQUE NONCLUSTERED 
(
	[fcm_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_fcm_token]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] ADD  CONSTRAINT [UQ_fcm_token] UNIQUE NONCLUSTERED 
(
	[fcm_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TRX_LOAN__4A2EBEE344537D47]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD UNIQUE NONCLUSTERED 
(
	[application_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loan_applications_bm]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_applications_bm] ON [dbo].[TRX_LOAN_APPLICATIONS]
(
	[assigned_branch_manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loan_applications_customer]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_applications_customer] ON [dbo].[TRX_LOAN_APPLICATIONS]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loan_applications_marketing]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_applications_marketing] ON [dbo].[TRX_LOAN_APPLICATIONS]
(
	[assigned_marketing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_loan_applications_status]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_applications_status] ON [dbo].[TRX_LOAN_APPLICATIONS]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_trx_la_customer_date]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [ix_trx_la_customer_date] ON [dbo].[TRX_LOAN_APPLICATIONS]
(
	[customer_id] ASC,
	[created_at] DESC
)
INCLUDE([application_number],[status],[amount_requested]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loan_approvals_application]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_approvals_application] ON [dbo].[TRX_LOAN_APPROVALS]
(
	[loan_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TRX_LOAN__343C3A6F24442AE9]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] ADD UNIQUE NONCLUSTERED 
(
	[loan_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loan_reviews_application]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_loan_reviews_application] ON [dbo].[TRX_LOAN_REVIEWS]
(
	[loan_application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKbp3ng3jayh8ch2tkhtcpw3b59]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_PAYMENTS] ADD  CONSTRAINT [UKbp3ng3jayh8ch2tkhtcpw3b59] UNIQUE NONCLUSTERED 
(
	[transaction_reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TRX_PAYMENTS_REF]    Script Date: 22/09/2026 10:37:35 ******/
ALTER TABLE [dbo].[TRX_PAYMENTS] ADD  CONSTRAINT [UQ_TRX_PAYMENTS_REF] UNIQUE NONCLUSTERED 
(
	[transaction_reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRX_PAYMENTS_CUSTOMER_ID]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [IX_TRX_PAYMENTS_CUSTOMER_ID] ON [dbo].[TRX_PAYMENTS]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TRX_PAYMENTS_LOAN_ID]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [IX_TRX_PAYMENTS_LOAN_ID] ON [dbo].[TRX_PAYMENTS]
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_plafonds_customer]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_plafonds_customer] ON [dbo].[TRX_PLAFONDS]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_plafonds_status]    Script Date: 22/09/2026 10:37:35 ******/
CREATE NONCLUSTERED INDEX [idx_plafonds_status] ON [dbo].[TRX_PLAFONDS]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_BRANCHES] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MST_BRANCHES] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[MST_BRANCHES] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MST_BRANCHES] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] ADD  DEFAULT (newsequentialid()) FOR [id]
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_customer_documents] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[mst_customer_documents] ADD  DEFAULT ((1)) FOR [is_latest]
GO
ALTER TABLE [dbo].[mst_customer_documents] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_customer_documents] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mst_customer_employments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[mst_customer_employments] ADD  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [dbo].[mst_customer_employments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[mst_customer_employments] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT ('TIER_1') FOR [credit_tier]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS] ADD  DEFAULT ((0)) FOR [successful_loans_count]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MST_MENUS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MST_MENUS] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[MST_MENUS] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MST_MENUS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MST_MENUS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[MST_ROLES] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[MST_ROLES] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MST_ROLES] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MST_ROLES] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT ((0)) FOR [is_revoked]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT ((0)) FOR [can_view]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT ((0)) FOR [can_create]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT ((0)) FOR [can_edit]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT ((0)) FOR [can_delete]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT ((0)) FOR [can_approve]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD  DEFAULT ('submitted') FOR [status]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD  DEFAULT (sysutcdatetime()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS] ADD  DEFAULT (sysutcdatetime()) FOR [approved_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] ADD  DEFAULT ('processing') FOR [status]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS] ADD  DEFAULT (sysutcdatetime()) FOR [reviewed_at]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] ADD  DEFAULT (sysdatetime()) FOR [payment_date]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] ADD  DEFAULT ((0)) FOR [used_amount]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts]  WITH CHECK ADD  CONSTRAINT [FK_bank_accounts_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] CHECK CONSTRAINT [FK_bank_accounts_customer]
GO
ALTER TABLE [dbo].[mst_customer_documents]  WITH CHECK ADD  CONSTRAINT [fk_mst_cd_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[mst_customer_documents] CHECK CONSTRAINT [fk_mst_cd_customer]
GO
ALTER TABLE [dbo].[mst_customer_employments]  WITH CHECK ADD  CONSTRAINT [fk_mst_ce_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[mst_customer_employments] CHECK CONSTRAINT [fk_mst_ce_customer]
GO
ALTER TABLE [dbo].[mst_customer_employments]  WITH CHECK ADD  CONSTRAINT [fk_mst_ce_verifier] FOREIGN KEY([income_verified_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[mst_customer_employments] CHECK CONSTRAINT [fk_mst_ce_verifier]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[MST_BRANCHES] ([id])
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[MST_ROLES] ([id])
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS]  WITH CHECK ADD  CONSTRAINT [FKahawhvqmf1lf0qgfo5rvrf4e4] FOREIGN KEY([role_id])
REFERENCES [dbo].[MST_ROLES] ([id])
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] CHECK CONSTRAINT [FKahawhvqmf1lf0qgfo5rvrf4e4]
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS]  WITH CHECK ADD  CONSTRAINT [FKdg1qephf9u2pcstgew70trcuh] FOREIGN KEY([branch_id])
REFERENCES [dbo].[MST_BRANCHES] ([id])
GO
ALTER TABLE [dbo].[MST_INTERNAL_USERS] CHECK CONSTRAINT [FKdg1qephf9u2pcstgew70trcuh]
GO
ALTER TABLE [dbo].[MST_MENUS]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[MST_MENUS] ([id])
GO
ALTER TABLE [dbo].[MST_MENUS]  WITH CHECK ADD  CONSTRAINT [FK1oau9j5yb6yhg9wovidpdcpjk] FOREIGN KEY([parent_id])
REFERENCES [dbo].[MST_MENUS] ([id])
GO
ALTER TABLE [dbo].[MST_MENUS] CHECK CONSTRAINT [FK1oau9j5yb6yhg9wovidpdcpjk]
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[MST_MENUS] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REL_ROLE_MENU_ACCESS]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[MST_ROLES] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS]  WITH CHECK ADD  CONSTRAINT [FK_device_token_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] CHECK CONSTRAINT [FK_device_token_customer]
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS]  WITH CHECK ADD  CONSTRAINT [FKjutwkptf8jfwe0wua3vvy3ipv] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_DEVICE_TOKENS] CHECK CONSTRAINT [FKjutwkptf8jfwe0wua3vvy3ipv]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD FOREIGN KEY([assigned_marketing_id])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD FOREIGN KEY([assigned_branch_manager_id])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD FOREIGN KEY([plafond_id])
REFERENCES [dbo].[TRX_PLAFONDS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_loan_applications_mst_branches] FOREIGN KEY([branch_id])
REFERENCES [dbo].[MST_BRANCHES] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FK_loan_applications_mst_branches]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FK2gxs6rcqwg9xc6lsaqjwbhoq3] FOREIGN KEY([assigned_marketing_id])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FK2gxs6rcqwg9xc6lsaqjwbhoq3]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FK4wm9yrl3h1aan0sp5hc0lws2y] FOREIGN KEY([branch_id])
REFERENCES [dbo].[MST_BRANCHES] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FK4wm9yrl3h1aan0sp5hc0lws2y]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FKfvyg5ls4nel7t2qgoxvdd0p5b] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FKfvyg5ls4nel7t2qgoxvdd0p5b]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FKkdm9h1qyj7t7v5b0x1b4lo2uu] FOREIGN KEY([assigned_branch_manager_id])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FKkdm9h1qyj7t7v5b0x1b4lo2uu]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [FKtjk8ibkpfv9vv8folfhcysbuy] FOREIGN KEY([plafond_id])
REFERENCES [dbo].[TRX_PLAFONDS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [FKtjk8ibkpfv9vv8folfhcysbuy]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS]  WITH CHECK ADD FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS]  WITH CHECK ADD  CONSTRAINT [FK6u84gsisylr4lh7xj63mtgf4e] FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS] CHECK CONSTRAINT [FK6u84gsisylr4lh7xj63mtgf4e]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS]  WITH CHECK ADD  CONSTRAINT [FKonntb1o46b0jreckv8a02n6xp] FOREIGN KEY([approved_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS] CHECK CONSTRAINT [FKonntb1o46b0jreckv8a02n6xp]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD FOREIGN KEY([disbursed_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD  CONSTRAINT [FK_disbursements_bank_account] FOREIGN KEY([customer_bank_account_id])
REFERENCES [dbo].[mst_customer_bank_accounts] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] CHECK CONSTRAINT [FK_disbursements_bank_account]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD  CONSTRAINT [FKd30pq6fumad8ady6wax58l8w1] FOREIGN KEY([disbursed_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] CHECK CONSTRAINT [FKd30pq6fumad8ady6wax58l8w1]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD  CONSTRAINT [FKfodflqbmfgvhgj7up4kdxtmfe] FOREIGN KEY([customer_bank_account_id])
REFERENCES [dbo].[mst_customer_bank_accounts] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] CHECK CONSTRAINT [FKfodflqbmfgvhgj7up4kdxtmfe]
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD  CONSTRAINT [FKpw4op4xt8ewxh8byjjcsds5f6] FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS] CHECK CONSTRAINT [FKpw4op4xt8ewxh8byjjcsds5f6]
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS]  WITH CHECK ADD FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS]  WITH CHECK ADD FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS]  WITH CHECK ADD  CONSTRAINT [FKafop1wn2ajk6hr3uol9a4yqr3] FOREIGN KEY([loan_application_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS] CHECK CONSTRAINT [FKafop1wn2ajk6hr3uol9a4yqr3]
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS]  WITH CHECK ADD  CONSTRAINT [FKm57bo1wdx77cr395cqtavex33] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS] CHECK CONSTRAINT [FKm57bo1wdx77cr395cqtavex33]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_TRX_PAYMENTS_CUSTOMER] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] CHECK CONSTRAINT [FK_TRX_PAYMENTS_CUSTOMER]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_TRX_PAYMENTS_LOAN] FOREIGN KEY([loan_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] CHECK CONSTRAINT [FK_TRX_PAYMENTS_LOAN]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK6iyxmaquqig16xbtb00n2l08d] FOREIGN KEY([loan_id])
REFERENCES [dbo].[TRX_LOAN_APPLICATIONS] ([id])
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] CHECK CONSTRAINT [FK6iyxmaquqig16xbtb00n2l08d]
GO
ALTER TABLE [dbo].[TRX_PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FKghrkxts19keuahob4k4y66jhs] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PAYMENTS] CHECK CONSTRAINT [FKghrkxts19keuahob4k4y66jhs]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD  CONSTRAINT [FKa0ve7k0p4ysrrrhgcsdl6dkp3] FOREIGN KEY([created_by])
REFERENCES [dbo].[MST_INTERNAL_USERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] CHECK CONSTRAINT [FKa0ve7k0p4ysrrrhgcsdl6dkp3]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD  CONSTRAINT [FKl0r4xfr4s4mh6f2cdvgwkuqxy] FOREIGN KEY([customer_id])
REFERENCES [dbo].[MST_CUSTOMERS] ([id])
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] CHECK CONSTRAINT [FKl0r4xfr4s4mh6f2cdvgwkuqxy]
GO
ALTER TABLE [dbo].[MST_BRANCHES]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts]  WITH CHECK ADD  CONSTRAINT [CK_bank_accounts_status] CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[mst_customer_bank_accounts] CHECK CONSTRAINT [CK_bank_accounts_status]
GO
ALTER TABLE [dbo].[mst_customer_documents]  WITH CHECK ADD  CONSTRAINT [chk_mst_cd_type] CHECK  (([document_type]='slip_gaji' OR [document_type]='selfie_ktp' OR [document_type]='selfie' OR [document_type]='kk' OR [document_type]='ktp'))
GO
ALTER TABLE [dbo].[mst_customer_documents] CHECK CONSTRAINT [chk_mst_cd_type]
GO
ALTER TABLE [dbo].[mst_customer_employments]  WITH CHECK ADD  CONSTRAINT [chk_mst_ce_income] CHECK  (([declared_income]>=(0)))
GO
ALTER TABLE [dbo].[mst_customer_employments] CHECK CONSTRAINT [chk_mst_ce_income]
GO
ALTER TABLE [dbo].[mst_customer_employments]  WITH CHECK ADD  CONSTRAINT [chk_mst_ce_type] CHECK  (([employment_type]='lainnya' OR [employment_type]='profesional' OR [employment_type]='wiraswasta' OR [employment_type]='karyawan_kontrak' OR [employment_type]='karyawan_tetap'))
GO
ALTER TABLE [dbo].[mst_customer_employments] CHECK CONSTRAINT [chk_mst_ce_type]
GO
ALTER TABLE [dbo].[MST_CUSTOMERS]  WITH CHECK ADD CHECK  (([status]='suspended' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD CHECK  (([user_type]='internal_user' OR [user_type]='customer'))
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD CHECK  (([user_type]='internal_user' OR [user_type]='customer'))
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD  CONSTRAINT [CHK_loan_status] CHECK  (([status]='cancelled' OR [status]='closed' OR [status]='disbursed' OR [status]='in_disbursement' OR [status]='approval_rejected' OR [status]='in_approval' OR [status]='review_rejected' OR [status]='in_review'))
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS] CHECK CONSTRAINT [CHK_loan_status]
GO
ALTER TABLE [dbo].[TRX_LOAN_APPLICATIONS]  WITH CHECK ADD CHECK  (([amount_requested]>(0)))
GO
ALTER TABLE [dbo].[TRX_LOAN_APPROVALS]  WITH CHECK ADD CHECK  (([result]='rejected' OR [result]='approved'))
GO
ALTER TABLE [dbo].[TRX_LOAN_DISBURSEMENTS]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='success' OR [status]='processing'))
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS]  WITH CHECK ADD  CONSTRAINT [CK_TRX_LOAN_REVIEWS_Result] CHECK  ((upper([result])='REJECTED' OR upper([result])='APPROVED'))
GO
ALTER TABLE [dbo].[TRX_LOAN_REVIEWS] CHECK CONSTRAINT [CK_TRX_LOAN_REVIEWS_Result]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD  CONSTRAINT [chk_used_lte_plafond] CHECK  (([used_amount]<=[plafond_amount]))
GO
ALTER TABLE [dbo].[TRX_PLAFONDS] CHECK CONSTRAINT [chk_used_lte_plafond]
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD CHECK  (([plafond_amount]>=(0)))
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD CHECK  (([status]='expired' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[TRX_PLAFONDS]  WITH CHECK ADD CHECK  (([used_amount]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_soft_delete_customer]    Script Date: 22/09/2026 10:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =====================================================================
   4. SOFT-DELETE HELPER
   ===================================================================== */

CREATE PROCEDURE [dbo].[sp_soft_delete_customer]
    @customer_id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE MST_CUSTOMERS
    SET deleted_at = SYSUTCDATETIME(),
        status = 'inactive'
    WHERE id = @customer_id
      AND deleted_at IS NULL;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_soft_delete_internal_user]    Script Date: 22/09/2026 10:37:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_soft_delete_internal_user]
    @user_id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE MST_INTERNAL_USERS
    SET deleted_at = SYSUTCDATETIME(),
        is_active = 0
    WHERE id = @user_id
      AND deleted_at IS NULL;
END;
GO
USE [master]
GO
